.satoshi-light {
  font-family: "Satoshi", sans-serif;
  font-weight: 300;
}

.satoshi-regular {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
}

.satoshi-medium {
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
}

.satoshi-bold {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
}

body {
  background-color: #0c0a09;
  min-height: 100vh;
  max-height: 100vh;
}

